
@{
    ViewBag.Title = "Recurso no encontrado";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 40px 15px; text-align: center;">
                <h1 class="display-6">
                    Oops!
                </h1>
                <h1 id="estiloColor">
                    404 Recurso no encontrado
                </h1>
                <hr class="my-4">
                <div>
                    <p class="lead">
                        Lo sentimos, se ha producido un error, no se ha encontrado el recurso o página solicitado.
                    </p>
                </div>
                <div style="margin-top: 15px; margin-bottom: 15px;">
                    @Html.ActionLink("Regresar", "Index", "Home", null, new { @class = "btn btn-primary", @style = "margin-right:10px;" })

                </div>
            </div>
        </div>
    </div>
</div>

