
@{
    ViewBag.Title = "Recurso no encontrado";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 40px 15px; text-align: center;">
                <h1>
                    Oops!
                </h1>
                <h2 style="color:red">
                    404 Recurso no encontrado
                </h2>
                <div>
                    Lo sentimos, se ha producido un error, no se ha encontrado el recurso o página solicitado.
                </div>
                <div style="margin-top: 15px; margin-bottom: 15px;">
                    @Html.ActionLink("Regresar", "Index", "Home", null, new { @class = "btn btn-primary btn-lg", @style = "margin-right:10px;" })

                </div>
            </div>
        </div>
    </div>
</div>

