@model IEnumerable<Infraestructure.Models.PRODUCTOS>

@try
{
    if (Model.Count() == 0)
    {
        <tr class="table-warning">
            <td colspan="4"><div class="text-center">No hay productos registrados para el proveedor seleccionado</div> </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.CATEGORIA.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td style="width:20%" id="estiloColorHover">
                    @Ajax.ActionLink("Agregar", "SeleccionarProducto", "Movimiento",
                         new { id = item.ID },
                         new AjaxOptions
                              {
                             UpdateTargetId = "modal-content",
                             InsertionMode = InsertionMode.Replace,
                             OnComplete = "mostrarModal()"
                         }, new { @class = "btn btn-primary update-contact" })
                </td>
            </tr>
        }
    }
}
catch (Exception e)
{
    <tr class="table-warning">
        <td colspan="4"><div class="text-center">Favor seleccionar un proveedor</div> </td>
    </tr>
}
