@{
    ViewBag.Title = "Acerca de";
}

<h1 class="display-6">
    @ViewBag.Message
</h1>

<p class="lead">
    Los siguientes, son estudiantes del grupo ISW-711-02-CII21
</p>
<p class="lead">
    Profesora a cargo: Nathalie Paniagua López
</p>

<div class="row ">
    <div class="col-lg-4 col-md-10  ">
        <div class="card mb-md-2" style="max-width: 20rem;">
            <h3 class="card-header" style="text-align:center">Estudiante</h3>
            <img src="~/Content/IMAGES-PAGES/foto-perfil-jpaul.jpeg" />
            <ul class="list-group list-group-flush">
                <li class="list-group-item">John P. Alfaro Carballo</li>
                <li class="list-group-item">Ingeniería del Software - UTN</li>
                <li class="list-group-item">Tel: +506 6029-85-46</li>
            </ul>
            <div class="card-footer text-muted">
                Actualizado el 01/06/2021
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-10  ">
        <div class="card mb-md-2" style="max-width: 20rem;">
            <h3 class="card-header" style="text-align:center">Estudiante</h3>
            <img src="~/Content/IMAGES-PAGES/foto-perfil-diego.jpg" />
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Juan Diego Araya Chaves</li>
                <li class="list-group-item">Ingeniería del Software - UTN</li>
                <li class="list-group-item">Tel: +506 8312-46-98</li>
            </ul>
            <div class="card-footer text-muted">
                Actualizado el 01/06/2021
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-10  ">
        <div class="card mb-md-2" style="max-width: 20rem;">
            <h3 class="card-header" style="text-align:center">Estudiante</h3>
            <img src="~/Content/IMAGES-PAGES/foto-perfil-alvaro.jpg" />
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Álvaro Rodríguez Barrantes</li>
                <li class="list-group-item">Ingeniería del Software - UTN</li>
                <li class="list-group-item">Tel: +506 6010-75-50</li>
            </ul>
            <div class="card-footer text-muted">
                Actualizado el 01/06/2021
            </div>
        </div>
    </div>
</div>
<div>
    <hr class="my-4">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-6">Información de contacto</h1>
            <p class="lead">
                Sunrise Computers&reg;
            </p>
            <p class="lead">
                Alajuela Centro, Contiguo a monumento de Juan Santa Maria
            </p>
            <p class="lead">
                Tel: 2430-00-00 / Cel: 8877-66-55
            </p>
            <p class="lead">
                Correo electrónico: soporte@sunrisecomputers.cr
            </p>
        </div>
    </div>
</div>


@section footer{
    <footer class="footer mt-auto py-3 ">
        <hr />
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Sunrise Computers &reg;</p>
        </div>
    </footer>
}
