@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h2 class="display-6">Bienvenido a la aplicacion!</h2>
    <p class="lead">Cualquier cambio generado, afectara directamente los registros de la base de datos. ¡Favor tener cuidado!</p>
    <hr class="my-4">
    <p class="lead">Estos son los últimos datos generados por la aplicación, cualquier inconsistencia, favor llamar a su supervisor</p>

</div>

<div class="row " >
    <div class="col-lg-4 col-md-5">
        <div class="card text-white bg-success mb-3 border border-white " style="max-width: 20rem;">
            <div class="card-header bg-dark font-weight-bold">Productos Registrados</div>
            <div class="card-body">
                <h1 class="card-title font-weight-bold" style="text-align:center">#1067</h1>
                <h6 class="card-text">**Inventario total</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card text-white bg-warning mb-3 border border-white" style="max-width: 20rem;">
            <div class="card-header bg-dark">Entradas realizadas</div>
            <div class="card-body">
                <h1 class="card-title font-weight-bold" style="text-align:center;">#2357</h1>
                <h6 class="card-text ">**Actualizado hace 24h</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card text-white bg-danger mb-3 border border-white" style="max-width: 20rem;">
            <div class="card-header bg-dark">Salidas realizadas</div>
            <div class="card-body">
                <h1 class="card-title font-weight-bold" style="text-align:center">#4010</h1>
                <h6 class="card-text ">**Actualizado hace 24h</h6>
            </div>
        </div>
    </div>
</div>
<br />
<table class="table table-hover">
    <p class="lead">
        Inventario en nivel de reposición: Lista de productos en stock que se encuentran bajo el nivel
        de reposición definido
    </p>
    <thead>
        <tr class="table-primary" style="text-align:center">
            <th scope="col">Categoria</th>
            <th scope="col">Serial</th>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-danger">
            <th scope="row">Danger</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td style="text-align:center">0</td>
        </tr>
        <tr class="table-danger">
            <th scope="row">Danger</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td style="text-align:center">0</td>
        </tr>
        <tr class="table-warning">
            <th scope="row">Secondary</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td style="text-align:center">3</td>
        </tr>
        <tr class="table-warning">
            <th scope="row">Secondary</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td style="text-align:center">6</td>
        </tr>
        <tr class="table-secondary">
            <th scope="row">Secondary</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td style="text-align:center">15</td>
        </tr>
        <tr class="table-secondary">
            <th scope="row">Secondary</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td style="text-align:center">16</td>
        </tr>
        <tr class="table-secondary">
            <th scope="row">Secondary</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td style="text-align:center">18</td>
        </tr>


    </tbody>
</table>




@section footer{
    <footer class="footer mt-auto py-3 ">
        <hr />
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Sunrise Computers &reg;</p>
            <p>Si deseas conocer mas acerca de la pagina, favor visitar la pagina "Acerca de"</p>
        </div>
    </footer>
}