@{
    ViewBag.Title = "Inicio Sesion";
}




@section footer{
    <footer class="footer mt-auto py-3 ">
        <hr />
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Sunrise Computers &reg;</p>
            <p>Si deseas conocer mas acerca de la pagina, favor visitar la pagina "Acerca de"</p>
        </div>
    </footer>
}